<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Currículum Oziel Mancilla">
    <meta property="og:title" content="Currículum Oziel Mancilla">
    <meta property="og:description" content="Currículum Oziel Mancilla dentro del curso einventiva Academy">
    <meta property="og:url" content="https://ozii-el.github.io/einventivaAcademy-cv/Views/index.html">
    <meta property="og:type" content="website">
    <title>Mi Currículum</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>

<header>
    <div class="top">
        <img class="tp-img" src="https://scontent.fcvj5-1.fna.fbcdn.net/v/t39.30808-6/472250428_3697771137035086_7639146503068551489_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=IWykT4BalCQQ7kNvgF2J_aY&_nc_oc=AdiXwbvxGM-qDYyfB5RzaREdxFQzP5LjclMqgHJ3lZn85_G4zvVc29XEK-rXHcvP-NY&_nc_zt=23&_nc_ht=scontent.fcvj5-1.fna&_nc_gid=MaOvjuF_wFW1CJG4Ji_WRg&oh=00_AYHHSVQZ2Xu_tzFIsTk0ULthLuiOHdr_SQpw14_mGtOWfg&oe=67D9B251" alt="Ozi">
        <div class="tp-titles">
            <h1>
                Oziel Mancilla
            </h1>
    
            <h2>
                Audio engineer, DevOps engineer
            </h2>
        </div>
    
    
    </div>

    <div class="sidebar">
        <div class="">
            <h3 class="sidebar-titles">Contact</h3>
        </div>
        <div class="sidebar-contact">
        <a href="mailto:oziel.mancilla@hotmail.com" target="_blank" class="sidebar-contact"> <i class="icon-contact"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill"
            viewBox="0 0 16 16">
            <path
                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                </svg></i> <span>oziel.mancilla@hotmail.com</span></a>
        <a href="tel:5610451749" target="_blank" class="sidebar-contact"><i class="icon-contact"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
        </svg></i> <span>5610451749</span></a> 
        <a href="https://maps.app.goo.gl/9q5Kf5iu5sSQHxEn9" target="_blank" class="sidebar-contact"><i class="icon-contact"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill"
            viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
        </svg> </i> <span>México</span></a>
        </div>

        <div class="">
            <h3 class="sidebar-titles">Habilidades</h3>
        </div>
        
        <div class="sidebar-content">
           
            <ul>
                <li>Azure DevOps</li>
                <li>GitLab</li>
                <li>GitHub</li>
                <li>IIS (Internet Information Services)</li>
                <li>Git</li>
                <li>Visual Studio</li>
                <li>Visual Studio Code</li>
                <li>Figma</li>
                <li>Sketch</li>
                <li>Azure</li>
                <li>Dotnet CLI</li>
                <li>Pipelines</li>
                <li>YML</li>
                <li>Windows Server</li>
                <li>SQL</li>
                <li>PostgreSQL</li>
                <li>MySQL</li>
                <li>MariaDB</li>
                <li>Azure Data Studio</li>
                <li>Docker</li>
                <li>Docker Compose</li>
                <li>Docker Swarm</li>
                <li>Docker Desktop</li>
                <li>Kubernetes</li>
                <li>Kubectl</li>
                <li>miniKube</li>
                <li>Ngninx</li>
                <li>Windows</li>
                <li>MacOs</li>
                <li>Debian</li>
                <li>Ubuntu</li>
                <li>Pro Tools</li>
                <li>Cubase</li>
                <li>Fl Studio</li>
                <li>Behringer x32</li>
                <li>Yamaha</li>
            </ul>
        </div>
            <div class="side-percent">  
                <div class="sidebar-content-percentage">
                    <svg width="140" height="140" viewBox="-23.625 -23.625 236.25 236.25" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        style="transform:rotate(-90deg)">
                        <circle r="84.5" cx="94.5" cy="94.5" fill="transparent" stroke="#fff" stroke-width="16"></circle>
                        <circle r="84.5" cx="94.5" cy="94.5" stroke="#E98522" stroke-width="24" stroke-linecap="round"
                            stroke-dashoffset="106px" fill="transparent" stroke-dasharray="530.66px"></circle>
                        <text class="perc-text" x="24%" y="111px" fill="#fff" font-size="42px" 
                            style="transform:rotate(90deg) translate(0px, -185px)">80%</text>
                            
                    </svg>
                    <div class="sidebar-content-percentage-title">
                        Diseño Web
                    </div>    
                </div>
                
                <div class="sidebar-content-percentage">
                    <svg width="140" height="140" viewBox="-23.625 -23.625 236.25 236.25" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" style="transform:rotate(-90deg)">
                        <circle r="84.5" cx="94.5" cy="94.5" fill="transparent" stroke="#fff" stroke-width="16"></circle>
                        <circle r="84.5" cx="94.5" cy="94.5" stroke="#E98522" stroke-width="24" stroke-linecap="round"
                            stroke-dashoffset="69px" fill="transparent" stroke-dasharray="530.66px"></circle>
                        <text class="perc-text" x="24%" y="111px" fill="#fff" font-size="42px"
                            style="transform:rotate(90deg) translate(0px, -185px)">87%</text>
                
                    </svg>
                    <div class="sidebar-content-percentage-title">
                        Prod. Mus.
                    </div>
                </div>
                <div class="sidebar-content-percentage">
                    <svg width="140" height="140" viewBox="-23.625 -23.625 236.25 236.25" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" style="transform:rotate(-90deg)">
                        <circle r="84.5" cx="94.5" cy="94.5" fill="transparent" stroke="#fff" stroke-width="16"></circle>
                        <circle r="84.5" cx="94.5" cy="94.5" stroke="#E98522" stroke-width="24" stroke-linecap="round"
                            stroke-dashoffset="239px" fill="transparent" stroke-dasharray="530.66px"></circle>
                        <text class="perc-text" x="24%" y="111px" fill="#fff" font-size="42px"
                            style="transform:rotate(90deg) translate(0px, -185px)">45%</text>
                
                    </svg>
                    <div class="sidebar-content-percentage-title">
                        DevOps
                    </div>
                </div>
            </div>
            <div class="">
                <h3 class="sidebar-titles">Premios, certificaciones u otros logros</h3>
            </div>
            <div class="sidebar-content-cert">
                <ul>
                    <b>Microsoft</b>
                    <ul>
                        <li>Azure Fundamentals | Issued: 09/27/2022</li>
                        <li>Azure AI Fundamentals | Issued: 06/22/2022 </li>
                    </ul>
                    <br>
                    <b>AWS Educate</b>
                    <ul>
                        <li>Introduction to Generative AI | Issued: 03/07/2025</li>
                    </ul>
                    <br>
                    <b>CERTIPROF</b>
                    <ul>
                        <li>Scrum Master | 22/05/2024</li>
                        <li>Lifelong Learning | 22/05/2024</li>
                    </ul>
                    <br>
                    <b>AUDINATE</b>
                    <ul>
                        <li>Dante Certification Level 1 & 2 | 11/04/2020 </li></ul>
                    <br>
                    <b>FREECODECAMP</b>
                    <ul>
                        <li>Responsive Web Design | 06/01/2021</li>
                    </ul>
                    <br>
                    <b>UDEMY</b>
                    <ul>
                        <li>Web and Mobile Design with Sketch | 11/04/2020
                        </li>
                        <li>Docker: From Beginner to Expert | 07/26/2021
                        </li>
                    </ul>
                    <br>
                </ul>
                
            </div>
            <div class="sidebar-cert-img">
                <table>
                    <tr>
                        <td>
                            <a href="https://www.credly.com/badges/b20595d0-7921-45e9-a0e3-3178fc25b171" target="_blank"><img
                                    src="https://images.credly.com/size/340x340/images/be8fcaeb-c769-4858-b567-ffaaa73ce8cf/image.png" alt="az900" width="65%"></a>
                        </td>
                        <td>
                            <a href="https://www.credly.com/badges/2044b80a-5579-45ce-8754-31bee98f99fe" target="_blank">
                                <img src="https://images.credly.com/size/340x340/images/4136ced8-75d5-4afb-8677-40b6236e2672/azure-ai-fundamentals-600x600.png" alt="az900AI" width="65%">
                            </a>
                        </td>
                        <td>
                            <a href="https://www.credly.com/badges/2ec265ca-c8b1-48e7-881f-a1800f4a9a03" target="_blank">
                                <img src="https://images.credly.com/size/340x340/images/4b68a030-53d0-414b-be57-b1837bc3b3e6/image.png" alt="aws-AI"
                                    width="100%">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.credly.com/badges/990d8ced-f6be-41e7-bbae-8fc371642503" target="_blank">
                            <img src="https://images.credly.com/size/340x340/images/916bde6c-7eb3-40da-b698-993bdc8231f5/image.png" alt="scrum"
                                width="65%">
                            </a>
                        </td>
                        <td>
                            <a href="https://www.credly.com/badges/261480b3-cc44-4f9b-b5f2-31a40b3df636https://www.credly.com/badges/261480b3-cc44-4f9b-b5f2-31a40b3df636" target="_blank">
                                <img src="https://images.credly.com/size/340x340/images/21e16d4d-d2df-46e6-9098-526caab49e63/blob" alt="scrum" width="65%">
                            </a>
                        </td>
                        <td>
                            <a href="" target="_blank">
                                <img src="../media/free-code-camp-logo 1.png" alt="free-code-camp-logo" width="100%">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" >
                                <img src="https://www.getdante.com/wp-content/uploads/2024/02/cert-1-seal-668x700.png" alt="dante level 1" width="70%"
                                    style="margin-bottom: -5%;">
                            </a>
                        </td>
                        <td>
                            <a href="" >
                                <img src="https://www.getdante.com/wp-content/uploads/2024/02/cert-2-seal-668x700.png" alt="dante level 1" width="70%"
                                    style="margin-bottom: -5%;">
                            </a>
                        </td>
                        <td>
                            <a href="" >
                                <img src="../media/uudemy.png" alt="UDEMY" width="35%" style="padding-left: 5%;">
                            </a>
                        </td>
                    </tr>
                    
                </table>
            </div>


            <div class="">
                <h3 class="sidebar-titles">Intereses</h3>
            </div>

            
        
    </div>
</header>


<body>
    <div class="content-body">

   
    
    <h3>
        Resumen u Objetivo Profesional:
    </h3>
    <p>Soy un apasionado de la tecnología con un título en Audio y Producción Musical. Mi curiosidad me llevó a aprender sobre
    DevOps, desarrollando funciones como DevOps Engineer. Tengo un entusiasmo innato por aprender cosas nuevas y practico la
    filosofía DIY (Hazlo tú mismo). La música es una de mis grandes pasiones.</p>
    <br>
    <div>
        <h3>
            Educación
        </h3>
        <ul>
            <li><b>Bachelor of Audio Engineer and Production Degree</b> | <i>G-Martell/México - 08/2013 - 05/2018</i></li>
            
    </div>

    <div>
        <h3>
            Experiencia Laboral
        </h3>
        <ul>
            <li><b>Senior Developer</b> <i>INNOVA Bienestar/CONAGUA | 04/2024 - 01/2025</i></li>
            <ul>
                <h4>Administración de proyecto y de GITLAB.</h4>
                <ul>
                    <li>Administración de proyecto en Azure DevOps</li>
                    <li>Definición de estrategias de Branching en git.</li>
                    <li>Configuración de repositorios en git para los proyectos, creación de ramas y migración de proyectos a nuevos
                    repositorios.</li>
                    <li>Configuración de azure-pipelines.yml para el CD del proyecto.</li>
                    <li>Revisión de pull request y aprobación de los mismos.</li>
                    <li>Ambientación de servidores de desarrollo y QA</li>
                    <li>Configuración de sitios web mediante IIS y .NET en los ambientes de desarrollo y QA</li>
                    <li>Configuración de servidores para aplicativo con python y poetry</li>
                    <li>Administración de repositorios en GITLAB</li>
                    <li>Administración de usuarios en GITLAB</li>
                    <li>Asistencia a usuarios de GITLAB</li>
                    <li>Estrategia de workflow en GITLAB</li>
                    <li>Estrategia de lineamientos de Commits</li>
                    <li>Capacitación de equipos sobre git y GITLAB</li>
                    <li>Documentación de workflow</li>
                    <li>Documentación de despliegue con Docker Compose y miniKube</li>
                    <li>Configuración de GitLab para la implementación del sistema mediante Docker Swarm</li>
                    <li>Se configuró GitLab para integrarse con Active Directory para la gestión de usuarios.</li>
                    <li>Se configuró GitLab para notificaciones por correo electrónico mediante un servicio SMTP.</li>
                    <li>Se configuró el administrador PHP para que LDAP funcione con OpenLDAP.</li>
                    <li>Se diseñó y configuró el archivo Docker Swarm para garantizar la persistencia de los datos en el servidor.</li>    
                    </ul>
            </ul>
            <br>
            <li><b>Senior Developer</b> <i>INFOTEC/CONAGUA | 12/2023 - 04/2024</i></li>
            <ul>
                <h4>Administración de proyecto, liderazgo del equipo.</h4>
                <Ul>
                    <li>Administración de los recursos</li>
                    <li>Asignación de actividades con el líder técnico.</li>
                    <li>Definición de estrategias de Branching en git.</li>
                    <li>Configuración de repositorios en git para los proyectos, creación de ramas y migración de proyectos a nuevos
                    repositorios.</li>
                    <il>Configuración de azure-pipelines.yml para el CD del proyecto.</il>
                    <il>Revisión de pull request y aprobación de los mismos.</il>
                    <il>Ambientación de servidores de desarrollo y UAT</il>
                    <il>Configuración de sitios web mediante IIS y .NET en los ambientes de desarrollo y UAT</il>
                </Ul>
            </ul>
            <br>
            <li><b>Junior Developer</b> <i>INFOTEC/CONAGUA | 05/2021 - 12/2023</i></li>
            <ul>
                <h4>Administración del proyecto en Azure DevOps, creación de repositorios, configuracion de .yml para CI/CD.</h4>
                <Ul>
                    <il>Diseño de arquitectura para el proyecto, definición de servidores de compilación y servidores de implementación.</il>
                    <il>Configuración de servidores de compilación, ambientación del servidor para compilar la solución en .net, instalación del
                    agente de compilación y configuración del mismo para recibir trabajos desde Azure DevOps.</il>
                    <il>Configuración de servidores de implementación, instalación de IIS, instalación y configuración de agente de
                    implementación para recibir tareas desde Azure DevOps y levantar sitios web.</il>
                    <il>Definición de estrategias de Branching en git.</il>
                    <il>Configuración de repositorios en git para los proyectos, creación de ramas y migración de proyectos a nuevos
                    repositorios.</il>
                    <il>Configuración de azure-pipelines.yml para el CD del proyecto.</il>
                    <il>Configuración de los Releases para la implementación de los sitios web.</il>
                    <il>Configuración de azure-pipelines.yml para creación y publicación de paquetes Nugets.</il>
                </Ul>
            </ul>
            <br>
            <li><b>Desarrollo Aplicación Movil</b> <i>Lifecom | 07/2019 - 04/2020</i></li>
            <ul>
                
                <Ul>
                    <il>Análisis, diseño y desarrollo de interfaz gráfica en Supernova, desarrollé prototipos funcionales para proporcionarle a
                    los desarrolladores backend la interfaz de la app.</il>
                    <il>Compilación y publicación de aplicación Gmoments en Google Play Store y App Store.</il>
                </Ul>
            </ul>

        </ul>
        
    </div>
    
    
    <div>
        
        
    
    </div>
    </div>
</body>


<footer>
    <p>
        Copyright © 2020, Todos los derechos reservados
    </p>
    <a href="#">Pasatiempos</a>
    <a href="#">Detalles de Contacto</a>
</footer>
</html>