<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Currículum</title>
</head>
<body> 
    <div>
        <img src="../media/me.jpg" alt="Ozi" width="8%" height="15%" style="border-radius: 100%;">
        <h1>Oziel Mancilla</h1>
        <h2>
            Audio engineer, DevOps engineer
        </h2>
        
    </div>
    <div>
        <hr>
    </div>
    <h3>
        Resumen u Objetivo Profesional:
    </h3>
    <p>Soy un apasionado de la tecnología con un título en Audio y Producción Musical. Mi curiosidad me llevó a aprender sobre
    DevOps, desarrollando funciones como DevOps Engineer. Tengo un entusiasmo innato por aprender cosas nuevas y practico la
    filosofía DIY (Hazlo tú mismo). La música es una de mis grandes pasiones.</p>
    <br>
    <div>
        <h3>
            Educación
        </h3>
        <ul>
            <li><b>Bachelor of Audio Engineer and Production Degree</b> <i>G-Martell/México - 08/2013 - 05/2018</i></li>
            
    </div>

    <div>
        <h3>
            Experiencia Laboral
        </h3>
        <ul>
            <li><b>Senior Developer</b> <i>INNOVA Bienestar/CONAGUA | 04/2024 - 01/2025</i></li>
            <ul>
                <h4>Administración de proyecto y de GITLAB.</h4>
                <Ul>
                    <li>Administración de proyecto en Azure DevOps</li>
                    <li>Definición de estrategias de Branching en git.</li>
                    <li>Configuración de repositorios en git para los proyectos, creación de ramas y migración de proyectos a nuevos
                    repositorios.</li>
                    <li>Configuración de azure-pipelines.yml para el CD del proyecto.</li>
                    <li>Revisión de pull request y aprobación de los mismos.</li>
                    <li>Ambientación de servidores de desarrollo y QA</li>
                    <li>Configuración de sitios web mediante IIS y .NET en los ambientes de desarrollo y QA</li>
                    <li>Configuración de servidores para aplicativo con python y poetry</li>
                    <li>Administración de repositorios en GITLAB</li>
                    <li>Administración de usuarios en GITLAB</li>
                    <li>Asistencia a usuarios de GITLAB</li>
                    <li>Estrategia de workflow en GITLAB</li>
                    <li>Estrategia de lineamientos de Commits</li>
                    <li>Capacitación de equipos sobre git y GITLAB</li>
                    <li>Documentación de workflow</li>
                    <li>Documentación de despliegue con Docker Compose y miniKube</li>
                    <li>Configuración de GitLab para la implementación del sistema mediante Docker Swarm</li>
                    <li>Se configuró GitLab para integrarse con Active Directory para la gestión de usuarios.</li>
                    <li>Se configuró GitLab para notificaciones por correo electrónico mediante un servicio SMTP.</li>
                    <li>Se configuró el administrador PHP para que LDAP funcione con OpenLDAP.</li>
                    <li>Se diseñó y configuró el archivo Docker Swarm para garantizar la persistencia de los datos en el servidor.</li>
                    
                    
                    
                    
                </Ul>
            </ul>
            <br>
            <li><b>Senior Developer</b> <i>INFOTEC/CONAGUA | 12/2023 - 04/2024</i></li>
            <ul>
                <h4>Administración de proyecto, liderazgo del equipo.</h4>
                <Ul>
                    <li>Administración de los recursos</li>
                    <li>Asignación de actividades con el líder técnico.</li>
                    <li>Definición de estrategias de Branching en git.</li>
                    <li>Configuración de repositorios en git para los proyectos, creación de ramas y migración de proyectos a nuevos
                    repositorios.</li>
                    <il>Configuración de azure-pipelines.yml para el CD del proyecto.</il>
                    <il>Revisión de pull request y aprobación de los mismos.</il>
                    <il>Ambientación de servidores de desarrollo y UAT</il>
                    <il>Configuración de sitios web mediante IIS y .NET en los ambientes de desarrollo y UAT</il>
                </Ul>
            </ul>
            <br>
            <li><b>Junior Developer</b> <i>INFOTEC/CONAGUA | 05/2021 - 12/2023</i></li>
            <ul>
                <h4>Administración del proyecto en Azure DevOps, creación de repositorios, configuracion de .yml para CI/CD.</h4>
                <Ul>
                    <il>Diseño de arquitectura para el proyecto, definición de servidores de compilación y servidores de implementación.</il>
                    <il>Configuración de servidores de compilación, ambientación del servidor para compilar la solución en .net, instalación del
                    agente de compilación y configuración del mismo para recibir trabajos desde Azure DevOps.</il>
                    <il>Configuración de servidores de implementación, instalación de IIS, instalación y configuración de agente de
                    implementación para recibir tareas desde Azure DevOps y levantar sitios web.</il>
                    <il>Definición de estrategias de Branching en git.</il>
                    <il>Configuración de repositorios en git para los proyectos, creación de ramas y migración de proyectos a nuevos
                    repositorios.</il>
                    <il>Configuración de azure-pipelines.yml para el CD del proyecto.</il>
                    <il>Configuración de los Releases para la implementación de los sitios web.</il>
                    <il>Configuración de azure-pipelines.yml para creación y publicación de paquetes Nugets.</il>
                </Ul>
            </ul>
            <br>
            <li><b>Desarrollo Aplicación Movil</b> <i>Lifecom | 07/2019 - 04/2020</i></li>
            <ul>
                
                <Ul>
                    <il>Análisis, diseño y desarrollo de interfaz gráfica en Supernova, desarrollé prototipos funcionales para proporcionarle a
                    los desarrolladores backend la interfaz de la app.</il>
                    <il>Compilación y publicación de aplicación Gmoments en Google Play Store y App Store.</il>
                </Ul>
            </ul>

        </ul>
        
    </div>
    
    <div>
        <h3>
            Habilidades
        </h3>
        <ul>
            <li>Azure DevOps</li>
            <li>GitLab</li>
            <li>GitHub</li>
            <li>IIS (Internet Information Services)</li>
            <li>Git</li>
            <li>Visual Studio</li>
            <li>Visual Studio Code</li>
            <li>Figma</li>
            <li>Sketch</li>
            <li>Azure</li>
            <li>Dotnet CLI</li>
            <li>Pipelines</li>
            <li>YML</li>
            <li>Windows Server</li>
            <li>SQL</li>
            <li>PostgreSQL</li>
            <li>MySQL</li>
            <li>MariaDB</li>
            <li>Azure Data Studio</li>
            <li>Docker</li>
            <li>Docker Compose</li>
            <li>Docker Swarm</li>
            <li>Docker Desktop</li>
            <li>Kubernetes</li>
            <li>Kubectl</li>
            <li>miniKube</li>
            <li>Ngninx</li>
            <li>Windows</li>
            <li>MacOs</li>
            <li>Debian</li>
            <li>Ubuntu</li>
            <li>Pro Tools</li>
            <li>Cubase</li>
            <li>Fl Studio</li>
            <li>Behringer x32</li>
            <li>Yamaha</li>


        </ul>
    
    </div>
    <div>
        <h3>
            Premios, certificaciones u otros
            logros
        </h3>
        <ul>
            <li><b>Microsoft</b></li>
            <ul>
                    <li>Azure Fundamentals | Issued: 09/27/2022 | <img src="../media/az900.png" alt="az900" width="5%"></li>
                    <li>Azure AI Fundamentals | Issued: 06/22/2022 | <img src="../media/azure-ai-fundamentals-600x600 1.png" alt="az900AI" width="5%"></li>                
            </ul>
            <br>
            <li><b>AWS Educate</b></li>
            <ul>
                <li>Introduction to Generative AI | Issued: 03/07/2025 | <img src="../media/aws.jpeg" alt="aws-AI" width="5%"></li>
            </ul>
            <br>
            <li><b>CERTIPROF</b></li>
            <ul>
                <li>Scrum Master | Issued: 22/05/2024 | <img src="../media/scrum.png" alt="scrum" width="5%"></li>
            </ul>
            <br>
            <li><b>AUDINATE</b></li>
            <ul>
                <li>Dante Certification Level 1 & 2 | Issued: 11/04/2020 | <img src="../media/audinate.png" alt="audinate" width="5%"></li>
            </ul>
            <br>
            <li><b>FREECODECAMP</b></li>
            <ul>
                <li>Responsive Web Design | Issued: 06/01/2021 | <img src="../media/free-code-camp-logo 1.png" alt="free-code-camp-logo" width="5%">
                </li>
            </ul>
            <br>
            <li><b>UDEMY</b></li>
            <ul>
                <li>Web and Mobile Design with Sketch | Issued: 11/04/2020 | <img src="../media/uudemy.png" alt="UDEMY"
                        width="2%">
                </li>
                <li>Docker: From Beginner to Expert | Issued: 07/26/2021 | <img src="../media/uudemy.png" alt="UDEMY" width="2%">
                </li>
            </ul>
            <br>
        </ul>
    
    </div>
</body>

<footer>
    <p>
        © 2024 Oziel. Aviso legal 
    </p>
    <a href="#">Pasatimepos</a>
    <a href="#">Detalles de Contacto</a>
</footer>
</html>